body {

}

.remember_me_block {
    float: left;
}

.export_excel {
    float: right;
}

.seo_part {
    padding-left: 0;
    padding-right: 0;
}

.post_alias_block {
    margin-top: 15px;
}

#user_profile_image_upload_block label {
    float: left;
}

#user_profile_image_upload_block .fileinput {
    width: 310px;
    float: left;
}

p.error {
    color: red;
}

#user_profile_image_upload_block p.error {
    text-align: right;
}

.fileinput-preview img::before {
    content: 'Note';
}

.fileinput-preview img::after {
    content: 'Note';
}