body {

}

textarea {
    resize: none;
}

.remember_me_block {
    float: left;
}

.export_excel {
    float: right;
}

.seo_part {
    padding-left: 0;
    padding-right: 0;
}

.post_alias_block {
    margin-top: 15px;
}

p.error {
    color: red;
}

#user_profile_logo_upload_block label {
    float: left;
}

#user_profile_logo_upload_block .fileinput {
    width: 310px;
    float: left;
    margin-left: 15px;
}

#user_profile_logo_upload_block p.error {
    text-align: right;
}

#site_settings_logo_upload_block label {
    float: left;
}

#site_settings_logo_upload_block .fileinput {
    width: 310px;
    float: left;
    margin-left: 15px;
}

#site_settings_image_upload_block p.error {
    text-align: right;
}

#site_settings_favicon_upload_block label {
    float: left;
}

#site_settings_favicon_upload_block .fileinput {
    width: 310px;
    float: left;
    margin-left: 15px;
}

#site_settings_favicon_upload_block p.error {
    text-align: right;
}